@page "/employeedb"
@inherits EmployeeOverviewDbBase

<h3>Employee List</h3>


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Job</th>
        <th>Detail</th>
    </tr>
    <tbody>
        @foreach (var item in EmployeeDbs)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Job
                </td>
                <td>
                    <a href="@($"/employeedetaildb/{item.Id}")">Detail </a>|<a href="@($"/employeeedit/{item.Id}")"> Edit</a>
            
                </td>
            </tr>
        }
    </tbody>
</table>